@font-face {
    font-family: "GlassTTYVT220";
    src: url("Glass_TTY_VT220.ttf");
}

body {
    font-family: "GlassTTYVT220";
    color: #39ff14;
    font-size: 2em;
    font-weight: bold;

    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    background-color: black;
    margin: 0;
    padding: 20px;
}

a {
    color: inherit;
}